*{
    box-sizing: border-box;
    transition: all 1s;
    margin: 0;
}

body { 
  font-family: sans-serif; 
  text-align: center;
}

.header{
  position: fixed;
  /* width: 200px; */
  height: 50px;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  font-size: 1.5rem;
  font-family: serif;
  color: #ccc;
}
.footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  font-size: 0.7rem;
  font-family: serif;
  color: #ccc;
}
.main{
  display: grid;
  grid: 1fr/1.5fr 1fr;
  align-items: center;
}

.scene {
  width: 300px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px auto;
  perspective: 400px;
}

.box {
  width: 300px;
  height: 200px;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  /* transition: transform 1s; */
}



.box__face {
  position: absolute;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.box__face--right,
.box__face--left {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.box__face--top,
.box__face--bottom {
  width: 300px;
  height: 100px;
  top: 50px;
  line-height: 100px;
}

.box__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.box__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.box__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.box__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.box__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.box__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.box__face--front  { transform: rotateY(  0deg) translateZ( 50px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 50px); }

.box__face--right  { transform: rotateY( 90deg) translateZ(150px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(150px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(100px); }


.box.show-front  { transform: translateZ( -50px) rotateY(   0deg); }
.box.show-back   { transform: translateZ( -50px) rotateY(-180deg); }
.box.show-right  { transform: translateZ(-150px) rotateY( -90deg); }
.box.show-left   { transform: translateZ(-150px) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

label { 
  margin-right: 10px; 
  color: #555;
  text-align: left;
  font-size: 0.9rem;
}

input[type=number]{
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  box-shadow: inset 0 0 3px 2px rgba(98, 0, 255, 0.2);
  /* font-family: monospace; */
}

.controls{
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: -4px 0 7px #0003;
  height: 100vh;
  padding: 2rem;
}

.tab-ctrl{
  display: flex;
  height: 3rem;
  width: 100%;
  margin-top: 3rem;
}
.tab-ctrl>div{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 50%;
  background: #eee;
  cursor: pointer;
  transition: all 0.3s;
}
.tab-ctrl>div:hover{
  background: #ddd;
}

.tab{
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem  ;
  grid-template-areas: 
  "prx pr pr pra"
  "trx try trz tra"
  "rtx rty rtz rta"
  "scx scy scz sca"
  "skx sky skz ska";
}
.radio-group{
  grid-area: 1/1/1/4;
}
.ctrl{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}