*{
    box-sizing: border-box;
    transition: all 0.3s;
    margin: 0;
    font-family: sans-serif;
}

body { 
  font-family: sans-serif; 
  text-align: center;
}

.header{
  position: fixed;
  /* width: 200px; */
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem;
  font-size: 1.5rem;
  font-family: serif;
  color: #ccc;
}
.tip{
  font-size: 0.7rem;
}
.footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  font-size: 0.7rem;
  font-family: serif;
  color: #ccc;
}
.main{
  display: grid;
  width: 100vw;
  overflow: hidden;
  grid: 1fr/1.5fr 1fr;
  align-items: center;
}
.mn-off{
  background: #000;
}
.scene {
  width: 300px;
  height: 200px;
  border: 1px solid #0005;
  margin: 80px auto;
  perspective: 400px;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box {
  width: 300px;
  height: 200px;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}



.box__face {
  position: absolute;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.box__face--right,
.box__face--left {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.box__face--top,
.box__face--bottom {
  width: 300px;
  height: 100px;
  top: 50px;
  line-height: 100px;
}

.box__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.box__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.box__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.box__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.box__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.box__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.box__face--front  { transform: rotateY(  0deg) translateZ( 50px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 50px); }

.box__face--right  { transform: rotateY( 90deg) translateZ(150px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(150px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(100px); }


.box.show-front  { transform: translateZ( -50px) rotateY(   0deg); }
.box.show-back   { transform: translateZ( -50px) rotateY(-180deg); }
.box.show-right  { transform: translateZ(-150px) rotateY( -90deg); }
.box.show-left   { transform: translateZ(-150px) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

label { 
  color: #555;
  font-family: montserrat;
  margin-left: 0.3rem;
  text-align: left;
  font-size: 0.9rem;
}

input[type=number]{
  font-family: montserrat;
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 0 10px 2px #a3a3a333;
  /* font-family: monospace; */
}

.controls{
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: -4px 0 7px #0003;
  height: 100vh;
  padding: 2rem;
  position: relative;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(0,0);
}
.controls:hover{
  opacity: 1;
  box-shadow: -6px 0 9px #0003;
}
.ct-off{
  transform: translate(95%,0);
  opacity: 0.2;
}
.trigger{
  position: absolute;
  left: 0;
  height: 100%;
  width: 0.8rem;
  transform: translate(0,-2rem);
  background: #eeeeeea6;
  /* transition: all 1s; */
  cursor: pointer;
}
.trigger:hover{
  background: #1235d1e7;
}

.tg-off{
  width: 2rem;
  background: #0044ff;
}

.sc-off{
  transform: translate(70%,0);
}
.ip-off{
  transform: scale(0.1);
  opacity: 0;
}

.tab-ctrl{
  display: flex;
  height: 3rem;
  width: 100%;
  margin-top: 3rem;
}
.tab-ctrl>div{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 50%;
  color: #333;
  background: #eee;
  cursor: pointer;
  transition: all 0.3s;
}
.tab-ctrl>div:hover{
  background: #ddd;
}

.active{
  background: #fff !important;
  color: #000 !important;
  border-bottom: 2px solid #0061f3;
  box-shadow: 0 1px 5px 0px #0003;
}

.tab{
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem  ;
  grid-template-areas: 
  "prx tro trox troy"
  "trx try trz tra"
  "rtx rty rtz rta"
  "scx scy scz sca"
  "skx sky skz ska"
  "btn btn btn2 btn2";
}

.btn{
  padding: 0.9rem;
  background: rgb(0, 119, 255);
  color: white;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover{
  background: rgb(0, 82, 235);
}

#random{
  position: relative;
  padding-left: 1.5rem;
  justify-content: flex-start;
  overflow: hidden;
}
#random > div{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  background: rgba(14, 98, 255, 0.719);
}
#random > div:hover{
  background: rgba(0, 7, 49, 0.63);
}

.radio-group{
  grid-area: 1/1/1/4;
  position: relative;
}

.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 9px;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}

.ctrl{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

}

@media (max-width:980px){
  .main{
    grid: 1.5fr 2fr/1fr;    
  }
  .controls{
    height: auto;
  }
}